body{
	background-color: aqua;
}
.image { 
	display: block;
	margin: auto;
	width: 200px;
	border: 1px solid #000000
}
.contact {
	text-align: center;
	margin: 0;
	padding: 0;
}
h1 {
	margin: 0;
}
h2 {
	text-decoration: underline;
}
h3 {
	margin: 0;
	padding: 0;
}